/* Estilos padrão do site */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  header {
    background-color: #070763;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    
   
  }
  .logo img {
    height: auto;
    object-fit: cover;
    align-items: baseline;
    
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    display: inline;
    margin-right: 100px;
  }
  
  .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
 


  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #FFFF;
    color: #151515;
    padding: 20px;
    text-align: center;
  }

  
  
    